:root {
    --section-1-bg-color: #70a6df;
    --section-2-bg-color: #bbe68b;
    --section-3-bg-color: #93b071;
    --section-4-bg-color: #fac0f6;
    --main-color-border: #99BFB3;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: AppleSystemUIFont, Helvetica, Arial, sans-serif;
    font-size: 24px;
}

/*Float*/
.float-box1 {
    float: left;
    width: 100%;
    height: 125px;
    background-color: var(--section-1-bg-color)
}

.float-box2 {
    float: left;
    width: 75%;
    height: 50%;
    background-color: var(--section-2-bg-color)
}

.float-box3 {
    float: right;
    width: 25%;
    height: 50%;
    background-color: var(--section-3-bg-color)
}

.float-box4 {
    float: right;
    width: 100%;
    height: 200px;
    background-color: var(--section-4-bg-color)
}

.content {
    text-align: center;
}

.float-box1 .content {
    padding-top: 50px;
    margin-right: 20px;
}

.float-box2 .content, .float-box3 .content {
    margin-top: 250px;
}

.float-box4 .content {
    margin-top: 100px;
}

/*Flex*/

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 0 0 0;
}

.header {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    padding: 0 0;
}

.section-left-side {
    box-sizing: border-box;
    width: 75%;
    height: 350px;
    margin-bottom: 0;
    padding: 0 0;
}

.section-right-side {
    box-sizing: border-box;
    width: 25%;
    height: 350px;
    margin-bottom: 0;
    padding: 0 0;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    margin-bottom: 0;
    padding: 0 0 0 0;
}

.section-1 {
    color: #242424;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 40px 0 0 0;
    background-color: var(--section-1-bg-color);
}

.section-2 {
    color: #242424;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 250px 0 0 0;
    background-color: var(--section-2-bg-color);
}

.section-3 {
    color: #242424;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 250px 0 0 0;
    background-color: var(--section-3-bg-color);
}

.section-4 {
    color: #242424;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    padding: 70px 0 0 0;
    background-color: var(--section-4-bg-color);
}